- content_for :title, t(".title")

.flex.flex-col.gap-4.w-full.max-w-6xl
  h1.text-2xl.font-bold = t(".title")
  = render "form", rotation: @rotation
  p
    = link_to t("rotations.show.back"), rotations_path, class: "text-blue-600 underline text-sm"
