.border.border-base-300.rounded-box.p-4.space-y-3 data-order-grid-target='lineRow' data-order-screen-picker-target='gridRow' data-screen-id=screen_id data-hours=(hours_json.to_json)
  = hidden_field_tag "advertising_order[lines][#{index}][screen_id]", screen_id, data: { order_screen_picker_target: 'screenId' }
  div
    p.font-medium data-order-screen-picker-target='screenName' = screen_name
    p.text-xs.text-base-content/60 data-order-screen-picker-target='screenMeta' = screen_meta
  - advertising_grid_months(@grid_dates).each do |month, dates|
    h3.font-medium.text-sm = l(month, format: '%B %Y')
    .overflow-x-auto
      .flex.gap-1.min-w-max
        - dates.each do |date|
          - day = advertising_order_day_for(line, date)
          - skipped = day.blank? && line.persisted?
          - shows_value = day&.shows
          - weekend = date.saturday? || date.sunday?
          .flex.flex-col.items-center.w-12 class=(weekend ? 'bg-base-200 rounded' : nil)
            span.text-xs.text-base-content/60 = date.day
            = hidden_field_tag "advertising_order[lines][#{index}][days][][date]", date.iso8601
            = hidden_field_tag "advertising_order[lines][#{index}][days][][skipped]", skipped ? '1' : '0', data: { order_grid_target: 'skipped' }
            = number_field_tag "advertising_order[lines][#{index}][days][][shows]",
                shows_value,
                min: 0,
                class: 'input input-bordered input-xs w-12 text-center',
                data: { order_grid_target: 'cell', date: date.iso8601, action: 'input->order-grid#cellChanged' }
