- automatic = local_assigns.fetch(:automatic, false)
.flex.flex-wrap.items-end.gap-3 data-order-windows-target='row' data-order-windows-automatic=(automatic ? 'true' : 'false')
  = render 'advertising_orders/window_clock',
      which: 'start',
      value: starts_at,
      field_name: 'advertising_order[windows][][starts_at]'
  = render 'advertising_orders/window_clock',
      which: 'end',
      value: ends_at,
      field_name: 'advertising_order[windows][][ends_at]'
  button.btn.btn-ghost.btn-sm type='button' data-action='order-windows#remove' = t('advertising_orders.form.remove_window')
