- content_for :title, t('.title', product: @advertising_order.product_name)

.flex.flex-col.gap-4.w-full.max-w-6xl
  h1.text-2xl.font-bold = @advertising_order.product_name
  p.text-sm = @advertising_order.clip_title
  p.text-sm = t('.document_version', version: @advertising_order.document_version)
  p.text-sm = t("enums.advertising_order.status.#{@advertising_order.status}")
  p.text-sm = money_display(@advertising_order.total_sum_cents)
  table.table
    thead
      tr
        th = AdvertisingOrderLine.human_attribute_name(:broadcast_point_group)
        th = AdvertisingOrderLineDay.human_attribute_name(:date)
        th = AdvertisingOrderLineDay.human_attribute_name(:shows)
    tbody
      - @advertising_order.advertising_order_lines.each do |line|
        - line.advertising_order_line_days.sort_by(&:date).each do |day|
          tr
            td = line.broadcast_point_group.name
            td = l(day.date)
            td = day.shows
