- content_for :title, t('.title')

.flex.flex-col.gap-4.w-full.max-w-xl
  = render 'shared/page_header', title: t('.title')
  - current_rows = order_clip_rows(@advertising_order)
  - if current_rows.any?
    .text-sm.text-base-content/70
      p = t('.current_clips')
      ul.list-disc.pl-5.mt-1
        - current_rows.each do |row|
          li = order_clip_row_label(row)
  - if @advertising_order.errors.any?
    ul.text-sm.text-error.list-disc.pl-5
      - @advertising_order.errors.full_messages.each do |message|
        li = message
  = form_with url: replace_clip_advertising_order_path(@advertising_order),
      method: :patch,
      class: 'space-y-4' do
    .alert.alert-warning role='alert'
      = t('.duration_warning')
    = render 'advertising_orders/clips_editor',
        selected_assets: order_form_selected_media_assets(@advertising_order),
        available_assets: order_form_available_media_assets(@advertising_order, @media_assets),
        field_name: 'media_asset_ids[]'
    .flex.gap-3
      = submit_tag t('.submit'), class: 'btn btn-primary btn-sm', data: { turbo_confirm: t('.confirm') }
      = link_to t('.cancel'), advertising_order_path(@advertising_order), class: 'btn btn-ghost btn-sm'
