- content_for :title, t('.title')

.flex.flex-col.gap-4.w-full.max-w-6xl
  h1.text-2xl.font-bold = t('.title')
  = form_with model: @media_plan, class: 'space-y-4 max-w-xl' do |f|
    - if @media_plan.errors.any?
      ul.text-sm.text-error.list-disc.pl-5
        - @media_plan.errors.full_messages.each do |message|
          li = message
    div
      = f.label :rotation_id, class: 'block text-sm font-medium'
      = f.collection_select :rotation_id, @rotations, :id, :name, { include_blank: true }, class: 'select select-bordered w-full mt-1'
    p.text-sm.text-base-content/60 = t('.rotation_only_hint')
    .flex.gap-3
      = f.submit class: 'btn btn-primary btn-sm'
      = link_to t('media_plans.form.cancel'), media_plans_path, class: 'btn btn-ghost btn-sm'
