- content_for :title, t('.title')

.mx-auto.w-full.max-w-6xl
  = render 'shared/page_header', title: t('.title')
  .card.bg-base-100.border.border-base-300.shadow-sm
    .card-body
      p.text-base-content/60 = t('.stub')
